:root {
  --main: #000000;

  --section: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kanit, sans-serif;
  
  color: aliceblue;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);

  color: #fff;
  padding: 2rem;
  height: 3rem;
  position: fixed;
  min-width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
/* nav ul li {
    margin-right: 5rem;
} */
nav ul li a {
  font-weight: 600;

  text-decoration: none;
}
section {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  background-color: var(--section);
  margin-bottom: 1rem;
  width: 95vw;
  border-radius: 20px;
  padding: 1rem;
  /* height: 100vh; */
}
.con {
  border: #000000 solid 1px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.About {
  margin-top: 5rem;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
}
.title{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.abt-me{
    border: #fff solid ;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    .caption{
        padding: 0rem 1.2rem;
    }
}
.grid-1{
    transition-timing-function: linear;transition: 1847ms; 
    
   
    & h1 {
        font-weight: 200;
        font-size: 3rem;
        text-align: center;
    }
    & h3 {
        font-weight: 200;
       text-align: center;
       padding: 0rem 1rem;
    }
}
.grid-2{
    
    & img {
        max-width: 100%;
        max-height: 400px;
        margin: 0rem 50rem;
        border-radius: 50%;
        border: #fff solid 10px;
      
    }
  
   
}

@media screen and (max-width: 450px) {
    .grid-2 img {
        max-width: 100%; 
        height: auto; 
        
      
    }
}


                        
                            
@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

.btn {
    margin-top: 3rem;
    cursor: pointer; border: solid rgb(0, 0, 0); 
    font-family: "system-ui"; font-size: 14px; 
    color: rgb(255, 255, 255); 
    padding: 10px 30px; 
    transition: 1847ms; 
    width: auto; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
    border-radius: 50px; background: linear-gradient(90deg, rgb(131, 182, 232) 0%, rgb(27, 199, 147) 100%); --hover-borderc: #000000; display: flex; justify-content: center; align-items: center; --hover-bgc: #49d6b1;
}


.btn:hover{
    
color: rgb(255, 255, 255);
width: auto;
background: rgb(73, 214, 177);
border-color: rgb(0, 0, 0);
border-width: 2px;
border-style: solid;
}

/* section projects */
section.Projects{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
justify-content: center;

padding: 0.5rem;
}
.box{
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem;
    transition: 1847ms;
    box-shadow: 3px 3px 7px 4px rgba(255, 255, 255, 0.51);
    p {
        text-align: center;
    }
}
.box img{
    border-radius: 10px;
        width: 100%;
        height: fit-content;
        object-fit: contain;
    
}

